@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

:root {
    --main-bg-color: hsl(159, 25%, 87%);
    --page-bg-color: hsl(60, 25%, 87%);
    --highlight-color: hsl(60, 25%, 50%);
}

html {
    background-color: var(--main-bg-color);
    font-family: 'Playfair Display', Times, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

body {
    background-color: var(--page-bg-color);
    border: 0.001rem solid gray;
    box-shadow: 5px 5px 10px gray;
    margin: 2em auto;
    padding: 1em;
    width: 800px;
}

article {
    line-height: 1.5;
}
div.disclaimer {
    border: double 0.4rem var(--highlight-color);
    padding: 0.75em;
    font-size: 0.9em;
}

img {
    display: block;
    margin: auto;
}

div.image-title {
    font-size: 0.9em;
    font-style: italic;
    margin: 0.375em 0 0 0;
    text-align: center;
}

blockquote {
    border-left: 0.375em solid var(--highlight-color);
    font-style: italic;
    margin-left: 0;
    padding: 0.75em;
}

h1 {
    background-image: url("../files/DSC_9107.JPG");
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    height: 200px;
    padding: 0.25em 0 0 0.5em;
}

h2.day-section > div.month-day {
    background-color: #333;
    color: var(--page-bg-color);
    xcolor: #fff;
    display: inline-block;
    font-family: Roboto;
    font-weight: 900;
    line-height: 1;
    padding: 0.2em;
    text-align: center;
    vertical-align: middle;
    height: 1.2em;
    width: 1.2em;
}

h2.day-section > div.month-day > span:nth-child(1) {
    text-transform: uppercase;
    font-size: 0.8rem;
}

h2.day-section > div.month-day > span:nth-child(2) {
    font-size: 1.1rem;
}