html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.4;
}

body {
    width: 800px;
    border: 1px solid black;
    padding: 1em;
    margin: 2em auto;
}

div.disclaimer {
    border: double 3px #aaa;
    padding: 0.75em;
}

img {
    display: block;
    margin: auto;
}

div.image-title {
    margin: 0.375em 0 0 0;
    font-style: italic;
    text-align: center;
    font-size: 0.9em;
}

blockquote {
    font-style: italic;
    border-left: 0.375em solid #ddd;
    padding: 0.75em;
    margin-left: 0;
}

h1 {
    font-size: 1.6em;
}

h2.day-section {
    display: table-row;
    x-background: linear-gradient(to right, #030, white);
}

h2.day-section > span.day-num, h2.day-section > .month-day {
    background-color: #333;
    color: #fff;
    font-size: 0.4em;
    padding: 0.25em 0.75em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-right: 0.15em solid white;
    text-transform: uppercase;
    x-font-variant: small-caps;
    line-height: 1;
    height: 2em;
    width: 2em;
}

h2.day-section > .month-day > span {
    font-size: 1.675em;
}

h2.day-section > span.date, h2.day-section > .heading-text {
    display: table-cell;
    padding: 0.25em 0.25em 0.25em 0.5em;
    font-size: .875em;
}